[submodule "/Users/ian/.vim/pack/plugins/start/vim-airline"]
	path = /Users/ian/.vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "/Users/ian/.vim/pack/plugins/start/jellybeans"]
	path = /Users/ian/.vim/pack/plugins/start/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "/Users/ian/.vim/pack/plugins/start/airline-themes"]
	path = /Users/ian/.vim/pack/plugins/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "/Users/ian/.vim/pack/plugins/start/nerdtree"]
	path = /Users/ian/.vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "/Users/ian/.vim/pack/plugins/start/vim-gitgutter"]
	path = /Users/ian/.vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "/Users/ian/.vim/pack/plugins/start/fugitive"]
	path = /Users/ian/.vim/pack/plugins/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "/Users/ian/.vim/pack/plugins/start/vim-javascript"]
	path = /Users/ian/.vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "/Users/ian/.vim/pack/plugins/start/ansible-vim"]
	path = /Users/ian/.vim/pack/plugins/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
